    <style>
        body {
            background: linear-gradient( 
                rgba(0,0,0, 0.5),
                rgba(0,0,0, 0.5)
                ), url("/star.jpg") no-repeat center center fixed           
        }
    </style>
<!--<div class="col-lg-8 col-lg-offset-0 well">
  <% if user_signed_in? %>
      <div class="col-sm-8" style="text-align: right; margin-top: 5px;"><a href="/users/edit"><li type="button" class="btn btn-default" style="color: grey; opacity: 0.8; font-weight: bold;">EDIT PROFILE</li></a></div>
  <% end %>
</div> !-->

<div class="row">
  <%= render 'shared/cover', user: @user %>
  <%= render 'user_nav', view_type: 'profile' %>
    
  <div class="col-lg-8 col-lg-offset-2 well">
    <center><h3 style="color:purple;font-weight: bold;">
        
       <%= @user.followers_count %> Followers</h3>
    </center>   
    <hr>
    <div id="followers">
      <%= render(@followers) || render('shared/no_resource', resources: 'Followers')  %>
    </div>
    <center>
      <%= will_paginate @followers, renderer: BootstrapPagination::Rails %>
    <center>
  </div>
  <div class="col-lg-3">
    <%= render 'shared/links' %>
  </div>
</div>
